*.user
*.suo
*.opendb
*.bak

CMakeFiles/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

cmake_install.cmake

*.vcxproj*
*.sln
/CmakeCache.txt
/.vs
